{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "lf"
    },
    "warn",
    {
      "singleQuote": true,
      "endOfLine": "lf"
    }
  ]
}
